<div class="container text-center">
  <h1>Le produit selectionné</h1>
  <h2> <%= @product.name %> </h2>
  <h3> Site: <%= @product.url %> </h3>
  <p>
  <%= link_to "Editer" , edit_product_path(@product) , class: "btn btn-warning" %>
  <%= link_to "Supprimer" , product_path(@product) , method: :delete , class: "btn btn-danger" %>
  <%= link_to "Revenir à l'acceuil" , root_path, class: "btn btn-primary" %>
  </p>
</div>
